langchain
langchain-core
langchain-google-genai
pymongo
chromadb
sentence-transformers
pydantic
pydantic-settings
python-dotenv
langchain-chroma
langchain-huggingface
langchain-mongodb
google-generativeai
duckduckgo-search
rich
pymupdf
langchain-text-splitters
